app-read-Olha-Liuba @ file:///D:/study/programming/Python_projects/Yulia/dist/app_read_Olha_Liuba-0.0.1-py3-none-any.whl
astroid==2.4.2
autopep8==1.5.4
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
Flask==1.1.2
folium==0.12.1
geographiclib==1.50
geopy==2.1.0
idna==2.10
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mini-project-pkg-misha2956 @ file:///C:/Users/Admin/Downloads/Telegram%20Desktop/dist/dist/mini_project_pkg_misha2956-0.0.1-py3-none-any.whl
numpy==1.19.3
pandas==1.1.4
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
rope==0.18.0
six==1.15.0
toml==0.10.1
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
